name: Test video files

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  build-and-test:
    # Skip job based on the commit message, only works in push to branches for now
    if: contains(toJson(github.event.commits), '[skip ci]') == false
    name: Test video recorded through Docker Selenium
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Output Docker info
        run: docker info
      - name: Set up Python 3.8
        uses: actions/setup-python@v4.6.0
        with:
          python-version: 3.8
      - name: Get branch name (only for push to branch)
        if: github.event_name == 'push'
        run: echo "BRANCH=$(echo ${PUSH_BRANCH##*/})" >> $GITHUB_ENV
        env:
          PUSH_BRANCH: ${{ github.ref }}
      - name: Get target branch name (only for PRs)
        if: github.event_name == 'pull_request'
        run: echo "BRANCH=$(echo ${TARGET_BRANCH##*/})" >> $GITHUB_ENV
        env:
          TARGET_BRANCH: ${{ github.head_ref }}
      - name: Output branch name
        run: echo ${BRANCH}
      - name: Sets build date
        run: echo "BUILD_DATE=$(date '+%Y%m%d')" >> $GITHUB_ENV
      - name: Run Docker Compose to record video
        run: USE_RANDOM_USER_ID=${USE_RANDOM_USER} VERSION=${BRANCH} BUILD_DATE=${BUILD_DATE} make test_video
      - name: Upload recorded Chrome video
        uses: actions/upload-artifact@v3
        with:
          name: chrome_video
          path: ./tests/videos/chrome_video.mp4
      - name: Upload recorded Edge video
        uses: actions/upload-artifact@v3
        with:
          name: edge_video
          path: ./tests/videos/edge_video.mp4
      - name: Upload recorded Firefox video
        uses: actions/upload-artifact@v3
        with:
          name: firefox_video
          path: ./tests/videos/firefox_video.mp4